.text-gradient {
    background-image: linear-gradient(to left, $primary, $primary, $primary, $primary, $primary, $primary, $dark03);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



// Carousel

.carousel-home .carousel-item {
    height: 500px;
    background-image: url('/img/image.png');
    background-position: center;
    background-size: cover;
}

.carousel-home .carousel-caption {
    position: relative;
    right: 0;
    left: 0;
    bottom: 0;
    padding-top: 150px;
    padding-bottom: 1.25rem;
    color: $neutra01;
    text-align: start;
}

.carousel-home .carousel-caption h2 {
    font-size: 60px;
    font-weight: 700;
}

.carousel-home .carousel-indicators [data-bs-target] {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: $primary;
    margin: 0 10px;
}


// Novidades
.novidades {
    margin: 70px 0 100px 0;
}


// BG- Image
.bg-image {
    background-image: url('../../../img/bg-image.png');
    background-size: cover;
    margin-bottom: 80px;
}

.bg-image-mask {
    background-color: rgba(61, 61, 61, 0.527);
    padding: 100px 0;
}

.bg-image-text {
    width: 50%;
    color: #fff;
}

.bg-image-text h2 {
    font-size: 28px;
    font-weight: 600;
}

.bg-image-text p {
    font-size: 16px;
    font-weight: 400;
}


// Categoria
.categoria {
    margin: 120px 0 100px 0;
}


// Promoção
.promocao {
    margin-bottom: 100px;
}


// Breakpoints

@media(max-width: 992px) {
    .carousel-home .carousel-item {
        height: 400px;
    }

    .carousel-home .carousel-caption {
        padding-top: 90px;
    }

    .carousel-home .carousel-caption h2 {
        font-size: 48px;
    }
}

@media(max-width: 768px) {
    .carousel-home .carousel-item {
        height: 350px;
    }

    .carousel-home .carousel-caption {
        text-align: center;
    }

    .carousel-home .carousel-caption h2 {
        font-size: 36px;
    }

    .bg-image-text {
        width: 100%;
    }
} 

