main {
    background-color: #DADCDE;
}

.ordenacao {
    width: 230px;
}

.page-item .page-link {
    background-color: #F2F2F5;
    color: #CBCED1;
    margin: 0 5px;
}

.page-item .page-link:hover {
    background-color: $primary;
    transition: .3s;
}

@media (max-width: 992px) {
    .filtro-bloco {
        flex-wrap: wrap;
    }
}