.carousel-detalhe .carousel-indicators {
    margin: 0 0 0 0;
    bottom: -27%;
}

.carousel-detalhe .carousel-indicators [data-bs-target] {
    width: auto;
    height: auto;
}

.bloco-carousel {
    margin-bottom: 150px;
}

.detalhe-iphone {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.detalhe-iphone form select {
    width: 210px;
    padding: 10px;
    border-radius: 7px;
}

.detalhe-iphone form input[type=number] {
    width: 50px;
    border: none;
    border-radius: 7px;
}

.categoria-descricao p {
    font-size: 16px;
}

.categoria-descricao h3 {
    font-size: 24px;
}

.relacionados-detalhe {
    margin-top: 80px;
    padding-bottom: 70px;
}

@media(max-width: 992px) {
    .detalhe-iphone {
        gap: 35px;
    }
}

@media(max-width: 576px) {
    .relacionados-detalhe {
        padding-bottom: 40px;
    }
}

@media(max-width: 470px) {
    .bloco-carousel {
        margin-bottom: 110px;
    }
}