.produto-item h5 {
    color: $neutra06;
    font-size: 16px;
    font-weight: 600;
}

.produto-item p {
    color: $neutra05;
    font-size: 16px;
    font-weight: 400;
}

.tag-promo {
    position: relative;
    top: 59px;
    left: 1px;
}