.footer {
    background-color: $dark03;
    padding: 40px 0;
    & h4 {
        color: $neutra04;
    } 

    & a, & i, & p {
        color: $neutra01;
        text-decoration: none;
    }

    & hr {
        color: $neutra05;
    }

    & h5 {
        color: $neutra04;
        font-weight: normal;
    }
}